body {
	background-image: url("");
	background-repeat: repeat;
}
header, footer {
	text-align: center;
	background-color: black;
	padding: 15px;
	color: white;
}
h3 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 20px;
}

a {
	color:white;
}

.post {
	background-color: white;
	margin: 2px;
	padding: 5px;
}
nav {
	height: 40px;
}
ul {
	list-style-type: none;
}

li {
	margin: 10px;
	padding: 10px;
	float: left;
}
#main-section {
	margin: 20px;
	padding: 10px;
}

table {
	border: 3px solid black;
	border-collapse: collapse;

}
th, td {
	border: 1px solid black;
	padding: 5px;
	font-size: 17px;
}
th	{
	background-color: lightgray;
}
