body {
	background-image: url("../img/bk-img.jpg");
	background-repeat: repeat;
}
header, footer {
	text-align: center;
	background-color: black;
	padding: 10px;
	color: white;
}

a {
	color:white;
}

.post {
	background-color: white;
	margin: 2px;
	padding: 5px;
}
nav {
	height: 40px;
	background-color:;
}
ul {
	list-style-type: none;
}

li {
	background-color: green;
	position: relative;
	margin: 10px;
	padding: 10px;
	float: left;
}
